   <!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Cập nhập Đơn hàng</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Trang chủ</a></li>
                    <li class="breadcrumb-item active">Đơn hàng ></li>
                    <li><a ui-sref="orders"> Danh sách ></a></li>
                    <li class="active"> Cập nhập</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

<!-- Main content -->
<div class="card card-info">
    <div class="card-header">
        <h3 class="card-title">Cập nhập {{ orders.Name}}</h3>
    </div>
    <!-- /.card-header -->
    <!-- form start -->
    <!--novalidate là xoá đi thuộc tính mặc định của form-->
    <form class="form-horizontal" novalidate name="frmUpdateorders" role="form" ng-submit="Updateorders()">
        <div class="card-body">
            <div class="form-group row">
                <label for="inputEmail3" class="col-sm-2 col-form-label">Tên Khách Hàng</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" ng-maxlength="256" required name="CustomerName" ng-model="orders.CustomerName">
                    <span ng-show="frmUpdateorders.CustomerName.$invalid" class="has-error">Phải nhập tên Khách Hàng.</span>
                    <span ng-show="frmUpdateorders.CustomerName.$error.maxlength" class="has-error">Tên Khách Hàng vượt quá 256 kí tự</span>
                </div>
            </div>

            <div class="form-group row">
                <label for="inputEmail3" class="col-sm-2 col-form-label">Địa chỉ</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" ng-maxlength="256" required name="CustomerAddress" ng-model="orders.CustomerAddress">
                    <span ng-show="frmUpdateorders.CustomerAddress.$invalid" class="has-error">Phải nhập Địa chỉ.</span>
                    <span ng-show="frmUpdateorders.CustomerAddress.$error.maxlength" class="has-error">Tên Địa chỉ vượt quá 256 kí tự</span>
                </div>
            </div>
            <div class="form-group row">
                <label for="inputEmail3" class="col-sm-2 col-form-label">Email</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" ng-maxlength="256" required name="CustomerEmail" ng-model="orders.CustomerEmail">
                    <span ng-show="frmUpdateorders.CustomerEmail.$invalid" class="has-error">Phải nhập Email.</span>
                    <span ng-show="frmUpdateorders.CustomerEmail.$error.maxlength" class="has-error"> Email vượt quá 256 kí tự</span>
                </div>
            </div>
            <div class="form-group row">
                <label for="inputEmail3" class="col-sm-2 col-form-label">Số điện thoại</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" ng-maxlength="256" required name="CustomerMobile" ng-model="orders.CustomerMobile">
                    <span ng-show="frmUpdateorders.CustomerMobile.$invalid" class="has-error">Phải nhập Số điện thoại.</span>
                    <span ng-show="frmUpdateorders.CustomerMobile.$error.maxlength" class="has-error">Số điện thoại vượt quá 256 kí tự</span>
                </div>
            </div>
            <div class="form-group row">
                <label for="inputEmail3" class="col-sm-2 col-form-label">Tin nhắn</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" ng-maxlength="256" required name="CustomerMessage" ng-model="orders.CustomerMessage">
                    <span ng-show="frmUpdateorders.CustomerMessage.$invalid" class="has-error">Phải nhập Tin nhắn.</span>
                    <span ng-show="frmUpdateorders.CustomerMessage.$error.maxlength" class="has-error">Tin nhắn vượt quá 256 kí tự</span>
                </div>
            </div>

            <div class="form-group row">
                <div class="offset-sm-2 col-sm-10">
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" name="status"
                               ng-model="orders.Status" ng-checked="orders.Status">
                        <label class="form-check-label" for="exampleCheck2">Kích Hoạt</label>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.card-body -->
        <div class="card-footer">
            <button type="submit" ng-disabled="frmUpdatepages.$invalid" class="btn btn-info">Lưu</button>
            <button ui-sref="orders" class="btn btn-default float-right">quay lại</button>
        </div>
        <!-- /.card-footer -->
    </form>
</div>