   <!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1> Thêm mới nhóm</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="/admin">Trang chủ ></a></li>
                    <li><a ui-sref="categories">Danh mục nhóm ></a></li>
                    <li class="active"><a href="#">Thêm mới</a></li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

<!-- Main content -->
<div class="card card-info">
    <div class="card-header">
        <h3 class="card-title">{{group.Name}}</h3>
    </div>
    <!-- /.card-header -->
    <!-- form start -->
    <!--novalidate là xoá đi thuộc tính mặc định của form-->
    <form class="form-horizontal" novalidate name="frmAddAppGroup" role="form" ng-submit="AddAppGroup()">
        <div class="card-body">

            <div class="form-group row" ng-class="{ 'has-error' : frmAddAppGroup.name.$invalid && !frmAddAppGroup.name.$pristine }">
                <label for="inputEmail3" class="col-sm-2 col-form-label">Tên nhóm</label>
                <div class="col-sm-10">

                    <input type="text" name="name" class="form-control"
                           required reqired-message="Tên nhóm bắt buộc." ng-model="group.Name">
                </div>
            </div>

            <div class="form-group row">
                <div class="offset-sm-2 col-sm-10">
                    <div class="form-check">

                        <label ng-repeat="role in roles">
                            <input type="checkbox" checklist-model="group.Roles" checklist-value="role"> {{role.Description}}
                        </label>
                    </div>
                </div>
            </div>

            <!-- /.card-body -->
            <div class="card-footer">

                <input type="submit" ng-disabled="frmAddAppGroup.$invalid" class="btn btn-info" value="Lưu lại" />

                <button ui-sref="application_groups" class="btn btn-default float-right">Hủy bỏ</button>
            </div>
        </div>
        <!-- /.card-footer -->
    </form>
</div>