   <!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1> Danh sách quyền</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="/admin">Trang chủ ></a></li>
                    <li><a href="#">Nhóm quyền ></a></li>
                    <li class="active">Danh mục quyền</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

<!-- Main content -->

<div class="row">

    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Danh sách quyền</h3>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="input-group" style=" padding:15px">
                        <input type="text" ng-model="keyword" class="form-control" placeholder="Nhập từ khóa...">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button" ng-click="search()">Tìm kiếm</button>
                        </span>
                    </div><!-- /input-group -->
                </div>
                <div class="col-md-6 right">
                    <div class="input-group" style=" padding:15px">
                        <button class="btn btn-success" type="button" ui-sref="add_application_role">Thêm mới</button>
                        <button class="btn btn-danger" type="button" ng-click="deleteMultiple()" id="btnDelete" disabled> Xoá</button>
                    </div>
                </div>
            </div>

            <!-- /.card-header -->
            <div class="card-body">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <td style="width: 5%">
                                <input name="all" type="checkbox" ng-click="selectAll()" />
                            </td>
                            <th style="width: 25%">Tên người dùng</th>
                            <th style="width: 50%">Tên quyền</th>

                            <th style="width: 15%">Thao Tác</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="item in data">
                            <td><input type="checkbox" ng-model="item.checked" name="all" /></td>
                            <td><a ui-sref="edit_application_role({id:item.Id})">{{item.Name}}</a></td>
                            <td>
                                {{item.Description}}
                            </td>
                            <td>
                                <button class="btn btn-primary" ui-sref="edit_application_role({id:item.Id})"><i class="fa fa-pencil-alt"></i></button>
                                <button class="btn btn-danger" ng-click="deleteItem(item.Id)"><i class="fa fa-trash"></i></button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <!-- /.card-body -->
            <div class="card-footer clearfix">

                <pager-directive page="{{page}}" custom-path="{{customPath}}" pages-count="{{pagesCount}}" total-count="{{totalCount}}" search-func="search(page)"></pager-directive>
            </div>
        </div>
    </div>
</div>