   <!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Cập nhập sản phẩm</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Trang chủ</a></li>
                    <li class="breadcrumb-item active">Sản phẩm ></li>
                    <li><a ui-sref="products"> Danh sách ></a></li>
                    <li class="active"> Cập nhập</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

<!-- Main content -->
<div class="card card-info">
    <div class="card-header">
        <h3 class="card-title">Cập nhập {{ product.Name}}</h3>
    </div>
    <!-- /.card-header -->
    <!-- form start -->
    <!--novalidate là xoá đi thuộc tính mặc định của form-->
    <form class="form-horizontal" novalidate name="frmUpdateProduct" role="form" ng-submit="UpdateProduct()">
        <div class="card-body">
            <div class="form-group row">
                <label for="inputEmail3" class="col-sm-2 col-form-label">Tên Sản phẩm</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" ng-maxlength="256" ng-change="GetSeoTitle()" required name="name" ng-model="product.Name">
                    <span ng-show="frmUpdateProduct.name.$invalid" class="has-error">Phải nhập tên Sản phẩm.</span>
                    <span ng-show="frmUpdateProduct.name.$error.maxlength" class="has-error">Tên Sản phẩm vượt quá 256 kí tự</span>
                </div>
            </div>
            <div class="form-group row">
                <label for="inputEmail3" class="col-sm-2 col-form-label">Tiêu Đề SEO</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" ng-maxlength="256" name="Alias" required ng-model="product.Alias">
                    <span ng-show="frmUpdateProduct.Alias.$invalid" class="has-error">phải nhập tiêu đề SEO</span>
                    <span ng-show="frmUpdateProduct.Alias.$error.maxlength" class="has-error">Tiêu đề SEO vượt quá 256 kí tự</span>
                </div>
            </div>
            <div class="form-group row">
                <label for="inputEmail3" class="col-sm-2 col-form-label">Mô Tả Ngắn</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" ng-maxlength="500" name="Description" ng-model="product.Description">
                    <span ng-show="frmUpdateProduct.Description.$error.maxlength" class="has-error">Mô Tả Ngắn vượt quá 500 kí tự</span>
                </div>
            </div>
            <div class="form-group row">
                <label for="inputEmail3" class="col-sm-2 col-form-label">Danh Mục</label>
                <div class="col-sm-10">
                    <select class="form-control" required name="parentId" ng-model="product.CategoryID" ng-options="option.ID as option.Name for option in productCategories">

                        <option value="">-- chọn danh mục --</option>
                    </select>
                    <span ng-show="frmUpdateProduct.parentId.$invalid" class="has-error">phải chọn danh mục</span>
                    <input type="hidden" name="parentId" ng-model="product.ParentID" />
                </div>
            </div>
            <div class="form-group row">
                <label for="inputEmail3" class="col-sm-2 col-form-label">Bảo hành(tháng)</label>
                <div class="col-sm-10">
                    <input type="number" class="form-control" name="Warranty" ng-model="product.Warranty">
                </div>
            </div>
            <div class="form-group row">
                <label for="inputEmail3" class="col-sm-2 col-form-label">Giá</label>
                <div class="col-sm-10">
                    <input type="number" class="form-control" required name="Price" ng-model="product.Price">
                    <span ng-show="frmUpdateProduct.Price.$invalid" class="has-error">phải nhập giá</span>
                </div>
            </div>
            <div class="form-group row">
                <label for="inputEmail3" class="col-sm-2 col-form-label">Giá nhập</label>
                <div class="col-sm-10">
                    <input type="number" class="form-control" name="OriginalPrice" required req ng-model="product.OriginalPrice">
                    <span ng-show="frmUpdateProduct.OriginalPrice.$invalid" class="has-error">phải nhập giá</span>
                </div>
            </div>
            <div class="form-group row">
                <label for="inputEmail3" class="col-sm-2 col-form-label">Giá KM</label>
                <div class="col-sm-10">
                    <input type="number" class="form-control" name="PromotionPrice" ng-model="product.PromotionPrice">
                </div>
            </div>
            <div class="form-group row">
                <label for="inputEmail3" class="col-sm-2 col-form-label">Số lượng</label>
                <div class="col-sm-10">
                    <input type="number" class="form-control" name="Quantity" ng-model="product.Quantity">
                </div>
            </div>
            <div class="form-group row">
                <label for="inputEmail3" class="col-sm-2 col-form-label">Hình Ảnh</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" ng-maxlength="256" name="Image" ng-model="product.Image">
                    <span ng-show="frmUpdateProduct.Image.$error.maxlength" class="has-error">Hình Ảnh vượt quá 256 kí tự</span>
                    <button class="btn btn-default" type="button" ng-click="ChooseImage()">Chọn ảnh</button>
                </div>
            </div>
            <div class="form-group row">
                <label for="inputEmail3" class="col-sm-2 col-form-label">Thêm ảnh</label>
                <div class="col-sm-10">
                    <ul class="list-inline">
                        <li ng-repeat="img in moreImages"><img ng-src="{{img}}" width="100" /></li>
                    </ul>

                    <button class="btn btn-default" type="button" ng-click="ChooseMoreImage()">Chọn ảnh</button>
                </div>
            </div>
            <div class="form-group row">
                <label for="inputEmail3" class="col-sm-2 col-form-label">Ảnh Tag cho sản phẩm</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" ng-maxlength="256" name="ImageHotTag" ng-model="product.ImageHotTag">
                    <span ng-show="frmAddProduct.ImageHotTag.$error.maxlength" class="has-error">Hình Ảnh vượt quá 256 kí tự</span>
                    <button class="btn btn-default" type="button" ng-click="ChooseImageHotTag()">Chọn ảnh</button>
                </div>
            </div>
            <div class="form-group row">
                <label for="inputEmail3" class="col-sm-2 col-form-label">Mô tả sản phẩm</label>
                <div class="col-sm-10">
                    <textarea class="form-control" name="Content" ckeditor="ckeditorOptions"
                              ng-model="product.Content">
                    </textarea>
                </div>
            </div>
            <div class="form-group row">
                <label for="inputEmail3" class="col-sm-2 col-form-label">Tags</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" name="Tags" ng-model="product.Tags">
                </div>
            </div>
            <div class="form-group row">
                <label for="inputEmail3" class="col-sm-2 col-form-label">Meta Keyword</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" name="MetaKeyword" ng-model="product.MetaKeyword">
                </div>
            </div>

            <div class="form-group row">
                <label for="inputEmail3" class="col-sm-2 col-form-label">Meta Description</label>
                <div class="col-sm-10">
                    <textarea class="form-control" name="MetaDescription"
                              ng-model="product.MetaDescription">
                    </textarea>
                </div>
            </div>

            <div class="form-group row">
                <div class="offset-sm-2 col-sm-10">
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" name="status"
                               ng-model="product.Status" ng-checked="product.Status">
                        <label class="form-check-label" for="exampleCheck2">Kích Hoạt</label>
                    </div>

                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" name="HomeFlag"
                               ng-model="product.HomeFlag" ng-checked="product.HomeFlag">
                        <label class="form-check-label" for="exampleCheck2">Hiện Thị Trang Chủ</label>
                    </div>
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" name="HotFlag"
                               ng-model="product.HotFlag" ng-checked="product.HotFlag">
                        <label class="form-check-label" for="exampleCheck2">Sản phẩm Hot</label>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.card-body -->
        <div class="card-footer">
            <button type="submit" ng-disabled="frmUpdateProduct.$invalid" class="btn btn-info">Lưu</button>
            <button ui-sref="products" class="btn btn-default float-right">quay lại</button>
        </div>
        <!-- /.card-footer -->
    </form>
</div>