   <!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Sản phẩm</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active">Sản phẩm</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

<!-- Main content -->

<div class="row">

    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Sản phẩm</h3>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="input-group" style=" padding:15px">
                        <input type="text" class="form-control" ng-model="keyword" placeholder="Search for...">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button" ng-click="search()">Search</button>
                        </span>
                    </div><!-- /input-group -->
                </div>
                <div class="col-md-6 right">
                    <div class="input-group" style=" padding:15px">
                        <a class="btn btn-warning" href="/Assets/admin/template/productinport.xlsx">Download template</a>
                        <button class="btn btn-primary" type="button" ui-sref="product_import">Nhập</button>
                        <button class="btn btn-success" type="button" ui-sref="product_add">Thêm mới</button>
                        <button class="btn btn-danger" type="button" ng-click="deleteMultiple()" id="btnDelete" disabled> Xoá</button>
                    </div>
                </div>
            </div>

            <!-- /.card-header -->
            <div class="card-body">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <td>
                                <input name="all" type="checkbox" ng-click="selectAll()" />
                            </td>
                            <th style="width: 5%">ID</th>
                            <th style="width: 50%">Tên sản phẩm</th>
                            <th style="width: 20%">Ngày tạo</th>
                            <th style="width: 10%">Trạng Thái</th>
                            <th style="width: 15%">Thao Tác</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="item in products">
                            <td><input type="checkbox" ng-model="item.checked" name="all" /></td>
                            <td>{{item.ID}}</td>
                            <td>{{item.Name}}</td>
                            <td>
                                {{item.CreatedDate | date: 'dd/MM/yyyy hh:mm:ss'}}
                            </td>
                            <!---->
                            <td>
                                <span ng-class="{'badge bg-red':item.Status == false,'badge bg-green':item.Status == true}">
                                    {{item.Status | statusFilter}}
                                </span>
                            </td>
                            <td>
                                <button class="btn btn-primary" ui-sref="product_edit({id:item.ID})"><i class="fa fa-pencil-alt"></i></button>
                                <button class="btn btn-danger" ng-click="deleteProduct(item.ID)"><i class="fa fa-trash"></i></button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <!-- /.card-body -->
            <div class="card-footer clearfix">

                <pager-directive page="{{page}}" custom-path="{{customPath}}" pages-count="{{pagesCount}}" total-count="{{totalCount}}" search-func="getProducts(page)"></pager-directive>
                <!--<ul class="pagination pagination-sm m-0 float-right">
                    <li class="page-item"><a class="page-link" href="#">&laquo;</a></li>
                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item"><a class="page-link" href="#">&raquo;</a></li>
                </ul>-->
            </div>
        </div>
    </div>
</div>