   <!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Footers</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active">Footers</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

<!-- Main content -->

<div class="row">

    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Footers</h3>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="input-group" style=" padding:15px">
                        <input type="text" class="form-control" ng-model="keyword" placeholder="Search for...">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button" ng-click="search()">Search</button>
                        </span>
                    </div><!-- /input-group -->
                </div>
                <div class="col-md-6 right">
                    <div class="input-group" style=" padding:15px">
                        <button class="btn btn-success" type="button" ui-sref="footers_add">Thêm mới</button>
                        <button class="btn btn-danger" type="button" ng-click="deleteMultiple()" id="btnDelete" disabled> Xoá</button>
                    </div>
                </div>
            </div>

            <!-- /.card-header -->
            <div class="card-body">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <td>
                                <input name="all" type="checkbox" ng-click="selectAll()" />
                            </td>
                            <th style="width: 20%">ID</th>
                            <th style="width: 70%">Nội dung</th>
                            <th style="width: 10%">Thao tác</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="item in footers">
                            <td><input type="checkbox" ng-model="item.checked" name="all" /></td>
                            <td>{{item.ID}}</td>
                            <td>{{item.Content}}</td>
                            <td>
                                <button class="btn btn-primary" ui-sref="footers_edit({id:item.ID})"><i class="fa fa-pencil-alt"></i></button>
                                <button class="btn btn-danger" ng-click="deletefooters(item.ID)"><i class="fa fa-trash"></i></button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <!-- /.card-body -->
            <div class="card-footer clearfix">

                <pager-directive page="{{page}}" custom-path="{{customPath}}" pages-count="{{pagesCount}}" total-count="{{totalCount}}" search-func="getfooters(page)"></pager-directive>
                <!--<ul class="pagination pagination-sm m-0 float-right">
                    <li class="page-item"><a class="page-link" href="#">&laquo;</a></li>
                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item"><a class="page-link" href="#">&raquo;</a></li>
                </ul>-->
            </div>
        </div>
    </div>
</div>